<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Weather App</title>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container-sm">
            <form method="POST">
                <div>
                    <input class="" name="city" type="text" placeholder="City Name">
                <button class="button is-info">
                    Add City
                </button>
                </div>
            </form>
        </div>
    </section>
    <section class="section" id="weather-cards">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                {% for weather in weather_data %}
                <div class="col-lg-3" id="card">
                    <div class="weather-description">
                        <h5>{{ weather.description }}</h5>
                        <p>{{ weather['city'] }}</p>
                    </div>
                    <div class="weather-icon">
                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image" height="100px">
                        <h2>{{ weather.temperature }}&deg;C</h2>
                    </div>
                    <div class="weather-parameters">
                        <table>
                            <tr>
                                <td>Min. Temp</td>
                                <td>&nbsp;</td>
                                <td>{{ weather.parameters.min_temp }}&deg;C</td>
                            </tr>
                            <tr>
                                <td>Max. Temp</td>
                                <td>&nbsp;</td>
                                <td>{{ weather.parameters.max_temp }}&deg; C</td>
                            </tr>
                            <tr>
                                <td>Pressure</td>
                                <td>&nbsp;</td>
                                <td>{{ weather.parameters.pressure }} Pa</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td>&nbsp;</td>
                                <td>{{ weather.parameters.humidity }} hpa</td>
                            </tr>
                            <tr>
                                <td>Wind</td>
                                <td>&nbsp;</td>
                                <td>{{ weather.parameters.wind }} m/s</td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% endfor %}
                <div class="col"></div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>

    <script>
        console.log({{ weather_data }})
    </script>
</body>

</html>